# virtualenv
venv/
**/venv/

# env
.env

# dados / backups
docker-backups/
xray_cnn.h5


# lixo
*.psd
backend/modules/arbovirus/datasets/
backend/modules/chest_xray/datasets/
backend/modules/glaucoma/datasets/
__pycache__/
wsl
.csv