Flask>=3.0.0
flask-cors
flask-jwt-extended
flask-sqlalchemy
werkzeug
google-generativeai>=0.8.3
python-dotenv
requests
pandas
SQLAlchemy
psycopg2-binary
cryptography 
scikit-learn
xgboost
tensorflow
Pillow
opencv-python-headless
ijson
openpyxl