Flask>=3.0.0
flask-cors
flask-jwt-extended
flask-sqlalchemy
werkzeug

# IA / LLM
google-generativeai>=0.8.3
langchain>=0.2.17
langchain-community>=0.2.19
langgraph>=0.0.40
langchain-google-genai>=1.0.0
faiss-cpu
pypdf
sentence-transformers
pydub
librosa
soundfile

# Infra
python-dotenv
requests
pandas
SQLAlchemy
psycopg2-binary
cryptography

# ML pesado
scikit-learn
xgboost
tensorflow
datasets
peft
torch
mediapipe
deepface

# Utilidades
Pillow
opencv-python-headless
ijson
openpyxl

# Testes
pytest
pytest-flask
